SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
GOOGLE_WORKSPACE_SMTP_USER=claimtofame@goodstuph.org
GOOGLE_WORKSPACE_SMTP_PASS=
APP_BASE_URL=
EMAIL_FROM_NAME=Claim to Fame
ALLOWED_EMAIL_DOMAIN=goodstuph.org
